//  -----sharing-----
.npo-player-share-content h3 {
  font-family: $bnnvara-brand-font;
}

.npo-player-share-content ul li {
  font-family: $bnnvara-brand-font;
}

.npo-player-share {
  height: 25px;
  width: 25px;
}

.npo-player-share {
  background: url(//cdn.bnnvara.nl/projects/npo8-player-skin/assets/icon-share.svg) no-repeat top;
}

.vjs-sharing {
  .npo-player-share {
    height: 25px;
    width: 25px;
    background: $bnnvara-brand-color;
    background-repeat: no-repeat;
    -webkit-mask-image: url(//cdn.bnnvara.nl/projects/npo8-player-skin/assets/icon-share.svg);
    mask-image: url(//cdn.bnnvara.nl/projects/npo8-player-skin/assets/icon-share.svg);
  }
}
//  -----end sharing-----

//  -----settings-----

.npo-player-settings {
  background: url(//cdn.bnnvara.nl/projects/npo8-player-skin/assets/icon-settings.svg) no-repeat top;
}
.npo-player-settings {
  height: 25px;
  width: 25px;
}
.vjs-settings {
  .npo-player-settings {
    background: $bnnvara-brand-color;
    height: 25px;
    width: 25px;
    -webkit-mask-image: url(//cdn.bnnvara.nl/projects/npo8-player-skin/assets/icon-settings.svg);
    mask-image: url(//cdn.bnnvara.nl/projects/npo8-player-skin/assets/icon-settings.svg);
  }
}

//  -----end settings-----

.video-js .vjs-fullscreen-control,
.video-js .vjs-time-control,
.video-js .vjs-volume-menu-button {
  font-family: $bnnvara-brand-font;
  font-weight: 400;
}

.npo-player-header-title {
  font-family: $bnnvara-brand-font;
}

.npo-player-captions>.vjs-menu li,
.npo-player-subtitles>.vjs-menu li {
  font-family: $bnnvara-brand-font;
}


.npo-player-autoplay .onoffswitch-checkbox:checked+.onoffswitch-label,
.npo-player-autoplay .onoffswitch-checkbox:checked+.onoffswitch-label {
  background-color: $bnnvara-brand-color;
}

.npo-player-autoplay .onoffswitch-checkbox:checked+.onoffswitch-label:before {
  border-color: $bnnvara-brand-color;
}

.npo-player-autoplay .onoffswitch-checkbox:checked+.onoffswitch-label,
.npo-player-autoplay .onoffswitch-checkbox:checked+.onoffswitch-label:before {
  border-color: $bnnvara-brand-color;
}


.video-js .vjs-big-play-button:before,
.video-js .vjs-icon-play:before,
.video-js .vjs-play-control:before {
  background: url(//cdn.bnnvara.nl/projects/npo8-player-skin/assets/icon-play.svg) no-repeat 50% 50%;
}

.video-js .vjs-play-control.vjs-playing {
  background: rgba(0,0,0,0.6);
}

.npo-player-captions,
.npo-player-subtitles {
  background: url(//cdn.bnnvara.nl/projects/npo8-player-skin/assets/icon-subtitles.svg) no-repeat top;
}

.vjs-subs-captions .npo-player-captions,
.vjs-subs-subtitles .npo-player-subtitles {
  height: 25px;
  width: 25px;
  background: $bnnvara-brand-color;
  background-repeat: no-repeat;
  -webkit-mask-image: url(//cdn.bnnvara.nl/projects/npo8-player-skin/assets/icon-subtitles.svg);
  mask-image: url(//cdn.bnnvara.nl/projects/npo8-player-skin/assets/icon-subtitles.svg);
}

.video-js .vjs-fullscreen-control:before,
.vjs-icon-fullscreen-enter:before {
  background: url(//cdn.bnnvara.nl/projects/npo8-player-skin/assets/icon-fullscreen-enable.svg) no-repeat 50% 50%;
}

.video-js.vjs-fullscreen .vjs-fullscreen-control:before,
.vjs-icon-fullscreen-exit:before {
  background: url(//cdn.bnnvara.nl/projects/npo8-player-skin/assets/icon-fullscreen-off.svg) no-repeat 50% 50%;
}

.video-js .vjs-icon-volume-high:before, .video-js .vjs-mute-control:before, .video-js .vjs-volume-menu-button:before {
  background: url(//cdn.bnnvara.nl/projects/npo8-player-skin/assets/icon-sound.svg) no-repeat 50% 50%;
}

.video-js .vjs-icon-volume-mute:before,
.video-js .vjs-mute-control.vjs-vol-0:before,
.video-js .vjs-volume-menu-button.vjs-vol-0:before {
  background: url(//cdn.bnnvara.nl/projects/npo8-player-skin/assets/icon-sound-enable.svg) no-repeat 50% 50%;
}

.npo-player-captions>.vjs-menu li.vjs-selected,
.npo-player-subtitles>.vjs-menu li.vjs-selected {
  color: $bnnvara-brand-color;
}



.vjs-paused {
  .vjs-play-control {
    background-color: rgba(204, 0, 0, 0.8);
    border-radius: unset;
  }
}

.video-js {
  .vjs-progress-control .vjs-play-progress:before {
    top: -4px;
    right: -6px;
    color: $bnnvara-brand-color;
    font-size: 12px;
    z-index: 9999;
  }
  .vjs-play-control {
    background-color: rgba(204, 0, 0, 0.8);
    border-radius: unset;
  }
  .vjs-progress-control .vjs-slider:before,
  .vjs-progress-control .vjs-play-progress,
  .vjs-progress-control .vjs-load-progress,
  &.npo-fragment .vjs-progress-control:before,
  &.npo-fragment .vjs-progress-control:after {
    height: 4px;
  }
}

.video-js .vjs-volume-menu-button .vjs-menu .vjs-menu-content .vjs-slider .vjs-volume-level,
.vjs-volume-bar.vjs-slider-vertical {
  width: 4px;
}

.video-js .vjs-volume-menu-button .vjs-menu .vjs-menu-content .vjs-slider .vjs-volume-level:before {
  top: -5px;
  left: -4px;
  font-size: 12px;
}

.video-js .vjs-progress-control .vjs-play-progress {
  background-color: $bnnvara-brand-color;
}

.vjs-default-skin.vjs-ended .vjs-play-control:before {
  background: url(//cdn.bnnvara.nl/projects/npo8-player-skin/assets/icon-replay.svg) no-repeat 50% 50%;
}

//  -----miscellaneous-----

.npo-spinner-container .path {
  stroke: $bnnvara-brand-color;
}

.npo-player-header-buttons {
  margin-right: 10px;
}

img.npo-player-overlay {
  max-width: 91px;
  top: 102px;
  left: 40px;
}

.vjs-ended {
  &.vjs-has-started {
    .npo-player-endscreen {
      .more-about-div {
        display: none !important;
      }
    }
  }
}